<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="np_data_extension_attribute" type="Learn\NovaPoshta\Plugin\AddExtensionAttributesToOrder" />
    </type>
<!--    <preference for="Magento\Checkout\Model\GuestPaymentInformationManagement" type="Learn\NovaPoshta\Model\Rewrite\GuestPaymentInformationManagement"/>-->
<!--    <preference for="Magento\Checkout\Model\PaymentInformationManagement" type="Learn\NovaPoshta\Model\Rewrite\PaymentInformationManagement"/>-->
</config>
