<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="update_warehouses" frontName="update_warehouses">
            <module name="Learn_NovaPoshta" />
        </route>
    </router>
</config>