<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="nova_poshta_shipping" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Shipping Module Nova Poshta</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="shipping_cost" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Shipping Cost</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="shipping_nova_poshta_api_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Api Key</label>
                    <comment> Nova Poshta API key needed to update city and warehouse data.</comment>
                </field>
                <field id="sender_city" translate="label" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Sender city</label>
                    <comment> City from where package will be send. This data affects shipment calculation</comment>
                </field>
                <field id="update_warehouses_button" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Update warehouses</label>
                    <comment> Update warehouses and cities data</comment>
                    <frontend_model>Learn\NovaPoshta\Block\System\Config\UpdateWarehousesButton</frontend_model>
                </field>
                <field id="calculate_delivery_cost_button" translate="label" sortOrder="43" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Calculate delivery cost</label>
                    <comment>Calculate delivery cost by sender city</comment>
                    <frontend_model>Learn\NovaPoshta\Block\System\Config\CalculateDeliveryCostButton</frontend_model>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_class>shipping-skip-hide</frontend_class>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
